#react-live {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#compile {
  position: absolute;
  top: 0;
  left: calc(50vw - 70px);
  z-index: 10;
  background-color: white;
  color: black;
  border: none;
}

#editor, #el {
  width: 50vw;
  min-height: 100vh;
}
